fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
openai
langchain
langchain-openai
easyocr
google-cloud-vision # 선택 사항, 구글 비전 사용 시
openai-whisper
torch # whisper/easyocr 의존성
torchvision
torchaudio
ffmpeg-python
